.headerWrapper{
    width: 100%;
    background-color: #5A5C70;
}

.header{
    margin: 0 auto;
    width: 90%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sign{
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sportTitle, .signup, .signin, .settings, .userName, .createEvent, .notifications, .myEvents{
    color: rgb(98, 179, 98);
    font-size: 17px;
}

.sportTitle:hover, .signup:hover, .signin:hover, .settings:hover, .userName:hover, .createEvent:hover, .notifications:hover, .myEvents:hover{
    color: white;
    text-decoration: none;
}

.logout, .signin, .signup {
	width: 100px;
	font-size: 16px;
	color: rgb(98, 179, 98);
    background-color: #5A5C70;
    border: 2px solid rgb(98, 179, 98);
    border-radius: 60px;
    padding: 4px 20px;
    cursor: pointer;
}

.logout:hover, .signin:hover, .signup:hover  {
	background-color: rgb(98, 179, 98);
	color: white;
	border: 2px solid rgb(98, 179, 98);
}



@media (max-width:680px){
	.user{
		display: none;
	}
}

@media (min-width:1200px){
	.user{
		width:600px;
	}
}

