/* div.noPadding {
    padding-left: 0;
    padding-right: 0;
}

div.noMargin {
    margin-left: 0;
    margin-right: 0;
} */

.body{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.eventSideBar{
    width: 30%;
    height: 740px;
    overflow-y: auto;
    padding: 0px;
    background-color: #575B72;
}

.mapWrapper{
    position: relative;
    width: 100%;
    height: 740px;
    overflow: hidden;
}


